body {
    background-color: rgba(20, 163, 191, 0.3
    );
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #342f4880;
    text-align: center;
}

.img {
    height:auto;
    width: 600px;
    border-radius: 15px;
}

a, a:hover {
    font-size: 30px;
}

a {
    color: #1209bb80;
}

a:hover {
    color: #ffffff;
}