body {
    background-color: rgba(20, 163, 191, 0.3
    );
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #342f4880;
    text-align: center;
}

.img {
    height:auto;
    width: 600px;
    border-radius: 15px;
}

a, a:hover {
    font-size: 30px;
}

a {
    color: #1209bb80;
}

a:hover {
    color: #ffffff;
}

.recipebody {
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 50px;
}

ul, ol, p{
    font-size: 20px;
}

ul li:hover , ol li:hover , p:hover {
    color: white;
}

ul {
    list-style-type: circle;
}

p.homepage, p.homepage:hover {
    padding-top: 20px;
    text-align: center;
}

p.homepage:hover {
    color: white;
}